/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#main-container {
    width: calc(100% - 250px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content{
  padding: 85px 30px 30px;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

// @media (max-width: 768px) {
//     #sidebar {
//         margin-left: -250px;
//     }
//     #sidebar.active {
//         margin-left: 0;
//     }
//     #content {
//         width: 100%;
//     }
//     #content.active {
//         width: calc(100% - 250px);
//     }
//     #sidebarCollapse span {
//         display: none;
//     }
// }
